build/
dist/
*.spec
log.txt
*.pyc
/.vs
main.dist/
main.build/
src/buildinfo.py
.vscode/
src/python/
oppomisc/
game.sdk.domain.dto/
tools/oppo_*
.tmp_py31210/
.github/workflows/init.instructions.md
.github/instructions/init.instructions.md
