cryptography==42.0.8
bcrypt==3.2.2
argon2-cffi
pillow
Faker
mitmproxy
urwid>=2.1.0
psutil
pycryptodome
pyperclip
Requests
requests_toolbelt
dnspython
PyQt6
PyQt6-WebEngine
loguru
aiohttp
aiofiles
xxhash
zmq
protobuf>=5,<7