cryptography==42.0.8
bcrypt==3.2.2
argon2-cffi==23.1.0
pillow==11.2.1
Faker==18.11.2
mitmproxy==10.2.4
urwid>=2.1.0
psutil==5.9.8
pycryptodome==3.20.0
pyperclip==1.8.2
Requests==2.33.1
requests_toolbelt==1.0.0
dnspython==2.6.1
PyQt6==6.10.2
PyQt6-WebEngine==6.9.0
loguru==0.7.2
aiohttp==3.9.5
aiofiles==23.2.1
xxhash==3.5.0
zmq==0.0.0
protobuf==5.29.6