cryptography==42.0.8
bcrypt==3.2.2
argon2-cffi
Faker
mitmproxy
urwid>=2.1.0  # 修复 macOS Python 3.8 构建问题
psutil
pycryptodome
pyperclip
Requests
requests_toolbelt
dnspython
PyQt6
PyQt6-WebEngine
loguru
aiohttp
aiofiles
xxhash
zmq
protobuf>=5,<7