name: APK Analysis

on:
    workflow_dispatch:
        inputs:
            url:
                description: 'APK file URL'
                required: true
                type: string

jobs:
    analyze-apk:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                distribution: 'temurin' # See 'Supported distributions' for available options
                java-version: '21'

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: 3.12

            - name: Download APK
              run: |
                curl -o app.apk ${{ github.event.inputs.url }}

            - name: Download JADX
              run: |
                wget https://github.com/skylot/jadx/releases/download/v1.5.0/jadx-1.5.0.zip
                mkdir jadx
                cd jadx
                unzip ../jadx-1.5.0.zip
                cd ..


            - name: Unpack APK
              run: python tools/unpack.py