name: Build Stable and Release

on:
  push:
    tags:
      - "v[0-100]+.[0-9]+.[0-1000]-stable"
  workflow_dispatch:
  
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.8",  "3.12"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Insert build info
        run: |
          echo -e 'BUILD_INFO="Build in ${{github.run_id}}(${{github.sha}})"\n' > src/buildinfo.py
          echo -e 'VERSION="v${{github.ref_name}}"\n' >> src/buildinfo.py

      - name: Build with PyInstaller
        run: pyinstaller -F src/main.py -n idv-login-${{github.ref_name}}-Py${{ matrix.python-version }}.exe -i assets/icon.ico --version-file assets/version.txt


      - name: Calcaulate Client checksum
        run: Get-FileHash "dist/idv-login-${{github.ref_name}}-Py${{ matrix.python-version }}.exe" | select-object -ExpandProperty Hash > dist/idv-login-${{github.ref_name}}-Py${{ matrix.python-version }}.exe.sha256

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-x86_64-${{ matrix.python-version }}
          path: dist/
      - name: Release body
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body_path: ext/${{github.ref_name}}-CHANGELOG
  release:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            **/*.exe
            **/*.sha256