name: Build and Package

on:
    workflow_dispatch:
    push:
        paths:
            - 'src/**'
            - 'requirements.txt'
            - '.github/workflows/pack.yaml'

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version: [3.10.9]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Python Embedded
        run: |
          Invoke-WebRequest -Uri https://www.python.org/ftp/python/${{ matrix.python-version }}/python-${{ matrix.python-version }}-embed-amd64.zip -OutFile python-embed.zip
          Expand-Archive python-embed.zip -DestinationPath python-embed

          $pthFile = Get-ChildItem -Path python-embed -Filter "python*._pth" | Select-Object -First 1
          # 读取内容，取消注释 "import site"，或者如果不存在则追加
          $content = Get-Content $pthFile.FullName
          if ($content -match "#\s*import site") {
              $content = $content -replace "#\s*import site", "import site"
          } else {
              $content += "import site"
          }
          $content | Set-Content $pthFile.FullName -Encoding UTF8

      - name: Set up Python Embedded
        run: |
          Invoke-WebRequest -Uri https://bootstrap.pypa.io/get-pip.py -OutFile get-pip.py
          .\python-embed\python.exe get-pip.py
          .\python-embed\python.exe -m pip install --upgrade pip
        shell: pwsh

      - name: Install dependencies
        run: |
          .\python-embed\python.exe -m pip install -r requirements.txt
      
      - name: Install pywin32 (Windows)
        if: runner.os == 'Windows'
        run: .\python-embed\python.exe -m pip install pywin32

      - name: Insert build info
        run: |
          $buildInfo = 'BUILD_INFO="Build in ${{github.run_id}}(${{github.sha}})"'
          $versionInfo = 'VERSION="${{github.ref_name}}"'
          $buildInfo | Out-File -FilePath src/buildinfo.py -Encoding utf8
          $versionInfo | Out-File -FilePath src/buildinfo.py -Encoding utf8 -Append
        shell: pwsh

      - name: Compile Python files to .pyc
        run: |
            .\python-embed\python.exe  -m compileall src
            Get-ChildItem -Recurse -Filter '*.pyc' | ForEach-Object {
                $newName = $_.Name -replace '\.cpython-3\d+', ''
                if (Test-Path -Path (Join-Path -Path $_.DirectoryName -ChildPath $newName)) {
                    Remove-Item -Path (Join-Path -Path $_.DirectoryName -ChildPath $newName) -Force
                }
                Rename-Item -Path $_.FullName -NewName $newName
            }
            Get-ChildItem -Recurse -Filter '*.pyc' | ForEach-Object { Move-Item $_.FullName -Destination $_.Directory.Parent.FullName }
            Get-ChildItem -Recurse -Filter '*.py' | Remove-Item -Force
            Get-ChildItem -Recurse -Directory -Filter '__pycache__' | Remove-Item -Recurse -Force
        shell: pwsh
      
      - name: Package application
        run: |
          mkdir dist
          Copy-Item -Recurse -Force python-embed dist/python-embed
          Copy-Item -Recurse -Force src dist/src
          Copy-Item -Force tools/点我启动工具.bat dist/点我启动工具.bat
        shell: pwsh

      - name: Install Inno Setup
        run: choco install innosetup -y
        shell: pwsh

      - name: Download Chinese language file
        run: |
          Invoke-WebRequest -Uri https://github.com/jrsoftware/issrc/raw/main/Files/Languages/Unofficial/ChineseSimplified.isl -OutFile inno/ChineseSimplified.isl
        shell: pwsh

      - name: Build installer
        run: |
          $outputBase = "idv-login-${{github.ref_name}}-Py${{ matrix.python-version }}"
          New-Item -ItemType Directory -Force -Path dist-installer | Out-Null
          $outputDir = (Resolve-Path dist-installer).Path
          & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" `
            /DAppVersion="${{github.ref_name}}" `
            /DOutputBaseFilename=$outputBase `
            /DOutputDir=$outputDir `
            inno/idv-login.iss
        shell: pwsh

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: production-artifacts
          path: |
            .\dist-installer\idv-login-${{github.ref_name}}-Py${{ matrix.python-version }}.exe
